footer{
  background-color: #620097;
  color : #fff;
  width: 100%;
}
#footer-content {
  width: 100%;
  justify-content: space-evenly;
  padding: 0 20px;
}

#sobre-footer p {
  width: 31rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-align-center{
  text-align: center;
}

footer h3 {
  color: #FDBA31;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#contato-footer li {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: none;
}

#privacidade-footer p {
  width: 28.875rem;
  text-align: right;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}